apiVersion: v1
kind: Service
metadata:
  name: grafana
  labels:
    app: grafana
    component: visualization
spec:
  type: ClusterIP
  selector:
    app: grafana
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
