apiVersion: v1
kind: Service
metadata:
  name: ui
  labels:
    app: ui
    component: frontend
spec:
  type: ClusterIP
  selector:
    app: ui
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
